<!DOCTYPE html>
<html lang="en"
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{auth-layout::auth-layout(~{::title}, ~{::content})}">
    <head>
        <meta charset="UTF-8">
        <title th:text="user-login | revpay"></title>
    </head>
    <body>
        <main th:fragment="content">
            <form th:object="">
                <div>
                    <label for="uname">Username:</label>
                    <input type="text" id="uname" name="username" placeholder="email/phone" />
                </div>
                <div>
                    <label for="upwd">Password:</label>
                    <input type="password" id="upwd" name="password" placeholder="enter here...">
                </div>
                <div>
                    <button type="submit">Login</button>
                    <input type="reset" value="Clear" />
                </div>
            </form>
        </main>
    </body>
</html>