<!DOCTYPE html>
<html lang="en"
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{main-layout::main-layout(~{::title}, ~{::content})}">
    <head>
        <meta charset="UTF-8">
        <title th:text="register-personal-user | revpay"></title>
    </head>
    <body>
        <main th:fragment="content">
            <form th:object="">
                <div>
                    <label for="first-name">First Name:</label>
                    <input type="text" id="first-name" />
                </div>
                <div>
                    <label for="second-name">Second Name:</label>
                    <input type="text" id="second-name" />
                </div>
                <div>
                    <label for="e-mail">Email:</label>
                    <input type="email" id="e-mail" />
                </div>
                <div>
                    <label for="phone-number">Phone:</label>
                    <input type="tel" id="phone-number" />
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
                <div>
                    <input type="reset" value="Reset"/>
                </div>
            </form>
        </main>
    </body>
</html>