<!DOCTYPE html>
<html lang="en"
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout/dashboard-layout :: dashboard-layout(~{::title}, ~{::content})}">
<head>
    <title>Security Question | Admin | Revpay</title>
</head>
<body>
    <section th:fragment="content">
        <form th:object="${securityQuestion}">
            <div>
                <label for="security-question">Security Question:</label>
                <input id="security-question" type="text" th:field="*{question}" />
            </div>
            <button type="submit" onclick="addSecurityQuestion(event)">Add</button>
        </form>
        <script th:src="@{/js/auth.js}"></script>
    </section>
</body>
</html>