<!DOCTYPE html>
<html lang="en"
        xmlns:th="https://www.thymeleaf.org">
    <body>
        <nav class="nav-container" th:fragment="navbar">
            <h1 class="nav-logo">
                <a th:href="@{/}">Revpay</a>
            </h1>
            <ul>
                <li>
                    <a th:href="@{/}">Revpay</a>
                </li>
                <li>
                    <a th:href="@{/}">Revpay</a>
                </li>
                <li>
                    <a th:href="@{/}">Revpay</a>
                </li>
            </ul>
        </nav>
    </body>
</html>